levelbar block.severly-underweight-bmi {
    background-color: #e01b24;
    border-style: solid;
    border-color: black;
}

levelbar block.underweight-bmi {
    background-color: #fe7801;
    border-style: solid;
    border-color: black;
}

levelbar block.optimal-bmi {
    background-color: #34c188;
    border-style: solid;
    border-color: black;
}

levelbar block.overweight-bmi {
    background-color: #fe7801;
    border-style: solid;
    border-color: black;
}

levelbar block.obese-bmi {
    background-color: #e01b24;
    /* Otherwise the bar is flat on the right when full */
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

.small-button {
	padding-left: 6px;
	padding-right: 6px;
}

calendar grid {
	border-bottom-width: 1px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-style: solid;
	border-bottom-color: @borders;
	border-left-color: @borders;
	border-right-color: @borders;
}

calendar button {
	border-bottom-width: 0px;
	border-top-color: @borders;
	border-left-color: @borders;
	border-right-color: @borders;
}

calendar label.year {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: @borders;
}

calendar stack.month {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: @borders;
}

/* Drops the 2px padding in the setup window's weight goal page. */
list.content.weightgoal > row {
	padding: 0;
}
